body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: rgba(33, 33, 33, 1);
}

a {
  text-decoration: none;
}

.links :hover,
.links :focus,
.button-nav :hover,
.button-nav :focus {
  color: rgba(33, 150, 243, 1);
  cursor: pointer;
}

.button-buy {
}
