body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: rgba(33, 33, 33, 1);
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: inherit;
}

.header-links:hover,
.header-links:focus,
.footer-links:hover,
.footer-links:focus {
  color: rgba(33, 150, 243, 1);
  cursor: pointer;
}
